<html>
    <head>
        <title>Meu Blog. De quem? R: Didi</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog do Didi</a></h1>
        </div>
        <div>
            <p>Publicado em 28.07.2019, 20:38</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>panamarelo paralepipedo amarelo</p>
        </div>
        <div>
                <p>Publicado em 28.07.2019, 20:38</p>
                <h2><a href="">Meu segundo post</a></h2>
                <p>panamarelo paralepipedo amarelo quadrado</p>
        </div>  
    </body>
</html>
